<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frida Kahlo | About</title>
  <link rel="stylesheet" href="styles.css"> 
</head>

<body>
  <header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
       
        
      </ul>
    </nav>
  </header>

  <main>
    <h1>About Frida Kahlo</h1>
    <p>
      Frida Kahlo (1907-1954) was a Mexican artist known for her distinctive and iconic self-portraits. She was born in 1907 and grew up in Mexico. Throughout her life, Frida faced numerous
      challenges and health issues, including a severe bus accident that left her with lifelong injuries.
    </p>
    <p>
      Frida Kahlo's art is often characterized by its raw honesty and emotional intensity, with themes of identity,
      gender, and the human experience prevalent in her work. She incorporated elements of surrealism and symbolism
      while painting her inner struggles and pain. Frida's art reflects her turbulent life and the cultural heritage of
      Mexico, making her a significant figure in both the art world and Mexican history.
    </p>
    <p>
      Despite facing adversity, Frida Kahlo's artistic talent and unique style continue to captivate audiences worldwide.
      Her work has inspired countless artists and remains an essential part of art history.
    </p>
  </main>

 
</body>

</html>
