<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frida Kahlo | Home</title>
  <link rel="stylesheet" href="styles.css"> 
</head>

<body>
  <header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      
      
      </ul>
    </nav>
  </header>

  <main>
    <h1> Frida Kahlo </h1>
    <p>
      Frida Kahlo (1907-1954) was a Mexican artist known for her distinctive and iconic self-portraits. This website
      celebrates her life and work, offering insights into her remarkable journey as an artist and the profound impact
      she left on the art world.
    </p>
    <p>
      Explore the pages to learn more about Frida Kahlo's biography, artistic style, and notable works. The Photo Gallery
      page provides an opportunity to view her captivating self-portraits and other masterpieces up close.
    </p>
    <p>
      Join us in celebrating the life and legacy of Frida Kahlo through her art and the stories that have inspired
      generations of artists and admirers.
    </p>
  
  </main>

  
</body>

</html>
